.signUpForm {
    width: 90%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.input-bar {
    width: 60%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1.25rem;
    box-sizing: border-box;
}

.input {
    width: 100%;
    height: 3rem;
}

.label {
    position: inherit !important;
    float: right;
    width: fit-content;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

button {
    max-width: 22rem;
}

.selectCountry{
    background: #3D185B;
    border: 1px solid #A057DB;
    border-radius: 8px;
    height: 3rem;
    font-weight: 300;
    color: white;
    font-size: 14px;
}

@media only screen and (max-width: 51.875rem) {
    .inputBar{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 35.625rem) {

    .signUpForm {
        width: 100%;
    }
    .inputBar{
        grid-template-columns: auto;
        gap: 0;
    }
}
