.signUpForm{
    margin-top: 10%;
    margin-right: 7%;
    display: flex;
    align-items: center;
    flex-direction:column;
    row-gap: 16px;
    /* justify-content: space-between; */
    /* align-content: center; */
    flex-wrap:wrap;
}
input{
    width: 250px;
    height: 48px;
}
label{
    float: right;
    width: fit-content;
}
tr{
    display: flex;
    direction: rtl;
}
th{
    width: 260px;
    height: 96px;
}
button{
    width: 500px;
}
.itemsHolder{
    display: flex;
    flex-direction: row;
}