#dateBox{
position: absolute;
width: 472px;
height: 35px;
left: 298px;
top: 332px;

background: #3D195B;
border-radius: 8px;
display: flex;
justify-content: space-evenly ;  
align-items: center;
flex-direction: row-reverse;

}
#weekText{
width: 121px;
height: 23px;
left: 638px;
top: 338px;

font-family: 'Vazirmatn';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;

color: #00FF87;

}
#dateText{
width: 236px;
height: 23px;
left: 364px;
top: 338px;

font-family: 'Vazirmatn';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;

color: #F7F7F7;
}