
.SignInForm {
    /*19.4 in figma*/
    margin: 9.4% 7% 0 50.8%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 16px;
}

/* .header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
#line{
    width: 10.875rem;
border: 3px solid #9B3AF9;
}
#headerText{
width: 10.9375rem;
height: 3.75rem;
font-weight: 400;
font-size: 24px;
line-height: 2.375rem;
display: flex;
justify-content: center;
color: #ffff;
}
label{
    width: 35.6875rem;
height: 24px;
direction: rtl;
font-family: 'Vazirmatn';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
color: #EDD8FF;

}
input{
    width: 35.6875rem;
height: 48px;

background: #3D185B;
border: 1px solid #A057DB;
border-radius: 8px;
}
button{
width: 270px;
height: 48px;
background: linear-gradient(90deg, #CF31B9 0%, #9B3AF9 73.44%);

font-family: 'Vazirmatn';
font-style: normal;
font-weight: 700;
font-size: 20px;
color: #FFFFFF;
border: 2px solid;
border-image: linear-gradient(270deg, #C847AF 1.65%, #9B3AF9 43.98%);
border-radius: 8px;
} */
#buttonBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 1.5rem;
}

.signUpButton {
    background: #3D185B;
    border-image: linear-gradient(90deg, #C847AF 1.65%, #9B3AF9 43.98%);
    /*border-image-slice: 1;*/
}

@font-face {
    font-family: Vazirmatn;
    /*src: url();*/
}

.font-vazirmatn {
    font-family: Vazirmatn, serif;
}
