
.signInForm {
    width: 80%;
    margin-top: 7%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    flex-wrap: nowrap;

}

.sign-in-input-bar {
    width: 60%;
    display: flex;
    flex-direction: column;
    grid-gap: 1.25rem;
    flex-wrap: nowrap;
}

.input {
    width: 60%;
    height: 3rem;
}

.label {
    position: inherit !important;
    float: right;
    width: fit-content;
}

.sign-in-button {
    max-width: 22rem;
    width: 30%;
    height: 3rem;
    background: linear-gradient(90deg, #CF31B9 0%, #9B3AF9 73.44%);
    font-family: Vazirmatn, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    border: 2px solid;
    border-image: linear-gradient(270deg, #C847AF 1.65%, #9B3AF9 43.98%);
    border-radius: 8px;

}

.button-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 4%;
    justify-content: center;

}
