.title {
    display: flex;
    height: 50px;
    background: #3D195B;
    justify-content: center;
    border-radius: 16px 16px 0 0;
    font: 800 18px Vazirmatn, serif;
    align-items: center;
    color: white;
}

.main-box {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.friends-box {
    display: flex;
    flex-direction: column;
}

.selected-button {
    width: 45%;
    height: 30px;
    background: linear-gradient(269.48deg, #04F5EC -30.14%, #03FBB8 109.7%);
    border-radius: 4px;
    border: none;
    font: 800 12px Vazirmatn, serif;
    align-items: center;
    text-align: center;
    color: #3D195B;
}

.following-button {
    width: 45%;
    height: 30px;
    background: #FFFFFF;
    border-radius: 4px;
    border: Gradient Button rgba(4, 245, 236, 1) rgba(3, 251, 184, 1);

}

.friends-button-bar {
    display: flex;
    direction: row-reverse;
    align-items: center;
    justify-content: center;
}