#aaaa {
    grid-row-start: 2;
}

.title {
    /*position: absolute;*/
    /*width: 273px;*/
    height: 50px;
    /*left: 993px;*/
    /*top: 402px;*/
    display: flex;
    background: #3D195B;
    border-radius: 16px 16px 0 0;
    justify-content: center;

}

#titleText {

    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

#mainBox {
    display: flex;
    column-gap: 10px;
    flex-direction: column;
    /*position: absolute;*/
    /*width: 273px;*/
    /*height: 828px;*/
    /*left: 993px;*/
    /*top: 450px;*/

    background: #ffffff;
}

#searchBox {

    align-items: center;
    display: flex;
    /*white-space: 10px;*/
    direction: rtl;
    box-sizing: border-box;

    width: 244px;
    height: 40px;
    left: 1010px;
    top: 472px;

    background: #FFFFFF;
    border-bottom: 1px solid #E4E4E4;
}

#searchIcon {
    /*position: absolute;*/
    left: 8.33%;
    right: 12.5%;
    top: 8.33%;
    bottom: 12.5%;

    border: 1.5px solid rgba(61, 25, 91, 0.45);
}

#searchHint {
    font-family: Vazirmatn, monospace;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;

    color: rgba(61, 25, 91, 0.67);
}

#filterBar {
    margin-top: 19px;
    display: flex;
    justify-content: space-evenly;

}

.filterItem {
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #EFEFEF;
    width: 40px;
    height: 30px;
    left: 1212px;
    top: 531px;
    border-radius: 8px;

}

.selectedFilterItem {
    background: linear-gradient(269.48deg, #04F5EC -30.14%, #03FBB8 109.7%);
}

#totalPlayersNumber {
    margin-top: 20px;
    align-self: center;
    width: 180px;
    height: 30px;
    left: 1040px;
    top: 581px;
    background: linear-gradient(269.48deg, #04F5EC -30.14%, #03FBB8 109.7%);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#totalPlayersNumberText {
    font-family: Vazirmatn, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 17px;
    text-align: center;

    color: #000000;

}

#showPlayersFrame {
    margin-top: 20px;
    width: 240px;
    /*height: 620px;*/
    left: 1010px;
    top: 631px;
    border-radius: 8px;
    /* background-color: #e6a4a4; */
}

#titleBar {
    /* color: #999999; */
    display: flex;
    flex-direction: row-reverse;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 19px;
    align-items: center;
    margin-right: 16px;
}

.upIcon {
    width: 10px;
    height: 10px;
    left: 60px;
    top: 6px;
    margin-left: 13px;
}

#playerTitle {
    width: 130px;
    height: 20px;
    left: 110px;
    top: 0;

    display: flex;
    align-items: center;
    direction: rtl;
}

#pageBar {
    /*height: 41px;*/
    display: flex;
    /* align-items: flex-end; */
    justify-content: center;
    margin-bottom: 28px;
    height: 40px;
    /* background-color: #04F5EC; */
    /* margin-top: auto; */

}

#playersList {
    /*height: 85%;*/
    list-style-type: none;
}

.playerListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Vazirmatn, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    align-items: center;
    text-align: right;

    color: #3D195B;
}

#playerListItemName {
    width: 130px;
    display: flex;
    flex-direction: column;
}

#playerListItemTeam {
    direction: rtl;
    font-family: Vazirmatn, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: right;

    color: rgba(61, 25, 91, 0.36);
}

#showPageState {
    width: 90px;
    height: 29px;

    font-family: Vazirmatn, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3D195B;
}

.pageBarItem {
    background-color: transparent;
    border: none;
}

