.date-box {
    background: #3D195B;
    width: 70%;
    margin: auto;
    color: white;

    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px 0;
}

.loading-date-box {
    direction: rtl;
}

#week-text {
    font: 800 16px Vazirmatn, serif;
    color: #00FF87;
    text-align: center;
}

#date-text {
    font: 800 14px Vazirmatn, serif;
    line-height: 22px;
    color: #F7F7F7;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .date-box {
        width: 80% !important;
        margin-bottom: 10px;
    }

    #week-text {
        font-size: 14px;
    }

    #date-text {
        font-size: 12px;
    }
}