#ground-main-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;

    margin-top: -16px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

    background-image: url('assets/ground.svg');
    border-radius: 16px;
    /*background-size: cover;*/
    /*background-size: 100%;*/
    /*object-fit: contain;*/
    /*background-position: bottom;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    grid-column-start: 1;
    grid-column-end: 4;
}

#gk-div {
    padding: 40px 15vw 0;
}

#gk-div, #def-div, #mid-div, #att-div {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.active-cloth-div:focus, .inactive-cloth-div:focus, .selected-inactive-cloth-div:focus, .selected-active-cloth-div:focus {
    outline: none;
}

.cloth-div {
    display: grid;
    justify-items: center;
    width: 6vw;
    min-width: 80px;
}

.cloth {
    width: 100%;
}

/*active player*/
.active-cloth-div {

}

.delete-icon {
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 1;
    cursor: pointer;
    width: 20%;
    justify-self: end;
}

.active-cloth {
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 0;
    cursor: pointer;
}

.player-name {
    font: 700 calc(0.2vw + 9px) Vazirmatn, serif;
    color: white;
    text-align: center;
    background-color: #37013B;
    width: 100%;
    border-radius: 8px 8px 0 0;
    padding: 2px 0;
    overflow: auto;
}

.power {
    font: 700 calc(0.3vw + 8px) Vazirmatn, serif;
    color: #38003C;
    text-align: center;
    background: rgba(98, 217, 147);
    width: 100%;
    border-radius: 0 0 8px 8px;
    padding: 2px 0;
}

/*inactive player*/
.inactive-cloth-div {
    align-items: center;
    z-index: 1;
}

.inactive-cloth {
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 0;
    cursor: pointer;
}

.add-icon {
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 1;
    cursor: pointer;
}

/*selected inactive player*/
.selected-inactive-cloth-div {
    align-items: center;
    scale: 1.1;
}

.selected-cloth {
    grid-column-start: 1;
    grid-row-start: 1;
    cursor: pointer;
}

/*selected active player*/
.selected-active-cloth-div {
    scale: 1.1;
}

@media only screen and (max-width: 768px) {
    #ground-main-div {
        grid-column-end: 3;
    }

    .cloth-div {
        width: calc(6vw + 40px);
        min-width: 0;
    }
}