#ground-main-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;

    margin-top: -16px;

    background-image: url('assets/ground.svg');
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

    grid-column-start: 1;
    grid-column-end: 4;

}

#gk-div {
    padding: 20px 15vw 0;
}

#gk-div, #def-div, #mid-div, #att-div {
    display: flex;
    justify-content: space-evenly;
}

.active-cloth-div:focus, .inactive-cloth-div:focus, .selected-inactive-cloth-div:focus, .selected-active-cloth-div:focus {
    outline: none;
}

.cloth {
    width: 8vw;
}

/*active player*/
.active-cloth-div {
    display: grid;
    justify-items: right;
    max-width: fit-content;
    scale: 0.8;
}

.delete-icon {
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 2;
    cursor: pointer;
    width: 17%;
}

.active-cloth {
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 0;
    cursor: pointer;
}

.player-name {
    font: 700 13px Vazirmatn, serif;
    color: white;
    text-align: center;
    background-color: #37013B;
    width: 100%;
    border-radius: 8px 8px 0 0;
    padding: 2px 0;
    overflow: auto;
}

.power {
    font: 700 12px Vazirmatn, serif;
    color: #38003C;
    text-align: center;
    background: rgba(98, 217, 147);
    width: 100%;
    border-radius: 0 0 8px 8px;
    padding: 2px 0;
}

/*inactive player*/
.inactive-cloth-div {
    display: grid;
    align-items: center;
    justify-items: center;
    max-width: fit-content;
    scale: 0.8;
    z-index: 1;
}

.inactive-cloth {
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 0;
    cursor: pointer;
}

.add-icon {
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 1;
    cursor: pointer;
}

/*selected inactive player*/
.selected-inactive-cloth-div {
    display: grid;
    align-items: center;
    justify-items: center;
    max-width: fit-content;
    scale: 0.9;
}

.selected-cloth {
    grid-column-start: 1;
    grid-row-start: 1;
    cursor: pointer;
}

/*selected active player*/
.selected-active-cloth-div {
    display: grid;
    justify-items: right;
    max-width: fit-content;
    scale: 0.9;
}

/*TODO: duplicate as .active-cloth-div*/