.profile-box {
    height: 180px;
    background: #FBFBFB;
    border-radius: 8px;
    display: flex;
    flex-direction: row-reverse;
}

.data-box {
    height: 160px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font: 500 12px Vazirmatn, serif;
    color: #3D195B;
    width: 70%;
}

.show-week {
    width: 30px;
    height: 80%;
    background: rgba(61, 25, 91, 0.06);
    border-radius: 4px;
    margin: auto auto auto 0;
    direction: ltr;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    font: 500 12px Vazirmatn, serif;
    color: #3D195B;
}

.show-score-box {
    width: 66px;
    height: 30px;
    margin-right: 3%;
    margin-top: 3%;
    background: linear-gradient(269.48deg, #04F5EC -30.14%, #03FBB8 109.7%);
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.star {
    margin-left: auto;
    margin-right: 15%;
    height: 50%;
}

.score-part {
    display: flex;
    flex-direction: row;
}

.score-title {
    font: 500 12px Vazirmatn, serif;
    line-height: 19px;
    margin-top: 5%;
    margin-right: 3%;
}

.score {
    font: 800 16px Vasirmatn, serif;
    line-height: 25px;
    margin-left: 20%;
}

.changes-title {
    margin-right: 3%;
    margin-top: 2%;
}

.changes {
    margin-right: 3%;
    display: flex;
}

.change-spot {
    margin-right: 2%;
    width: 30%;
}

.profile-info {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: 400 12px Vazirmatn, serif;
    line-height: 19px;
    color: #3D195B;
    align-items: center;
    cursor: pointer;
}

.profile-photo {
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem;
    margin-top: 15%;
}

.name {
    justify-content: center;
}

.like {
    width: 20px;
}

