.profile-main-div {
    width: 90%;
    margin: 3.125rem auto 0 auto;
    display: grid;
    grid-column-gap: 10%;
    grid-template-columns:1.8fr 1fr ;
    direction: rtl;
}
.upload-photo {
    
}
.profile-button-bar{
    display: flex;
    flex-direction: column;
}

.profile-button{
    width: 45%;
    height: 40px;
    margin-top: 10%;
    background: linear-gradient(269.48deg, #04F5EC -30.14%, #03FBB8 109.7%);
    border-radius: 4px;
    border: none;
    font: 800 1.2vw Vazirmatn, serif;
    align-items: center;
    text-align: center;
    color: #3D195B;
}
