.player-box {
    background: linear-gradient(93.79deg, #04F7DA -6.31%, #02FDA2 118.26%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    display: flex;
    border-radius: 16px 16px 0 0;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0 20px;
}

#show-player-text {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3D195B;
}

#logo-and-text {
    display: flex;
    flex-direction: column;
}

#player-text {
    color: #3D195B;
}

.player-logo {
    height: 65px;
    margin-bottom: 5px;
}