
#tabBarRectangle {
    position: absolute;
    width: 272px;
    height: 40px;
    left: 400px;
    top: 460px;
    display: flex;
    background: #F7F7F7;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 8px;
}

.tabRectangle {
    width: 131px;
    height: 30px;
    left: 534px;
    top: 465px;
    text-align: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}
.tabRectangle:hover{
background-color: rgb(230, 220, 208);
}

#tabBarRectangle:is-selected {
    background-color: rgba(230, 151, 55, 0.849);

}
#logo {

    position: absolute;
    width: 75px;
    height: 72px;
    left: 497px;
    top: 402px;

    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}