#middle-tab-bar-main-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#tab-bar-rectangle {
    display: flex;
    direction: rtl;
    background: #F7F7F7;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: auto;

    border-radius: 8px;
    padding: 5px 0;
}

#tab-bar-rectangle > div {
    text-align: center;
    align-items: center;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 1px 1.5vw;
    cursor: pointer;
    font-size: 1vw;
}

.tab-rectangle-select {
    background: #FFFFFF;
}

.tab-rectangle-unselect:hover {
    background: rgba(255, 255, 255, 0.6);
}

#logo {
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: fit-content;
    margin: auto auto -15px;
}