.my-team-schematic-div {
    width: 8vw;
    min-width: 120px;
}

.cloth-icon-container {
    display: flex;
    align-items: end;
}

.my-team-schematic-cloth {
    width: 100%;
}

.my-team-active {
    cursor: pointer;
}

.substitute-icon {
    width: 2vw;
    min-width: 18px;
    background: #ffe870;
    border-radius: 4px;
    margin: 0 0 15px -20px;
    cursor: pointer;
}

.my-team-player-name {
    font: 700 calc(0.2vw + 9px) Vazirmatn, serif;
    color: white;
    text-align: center;
    background-color: #37013B;
    width: 100%;
    border-radius: 4px;
    padding: 4px 0;
    overflow: auto;
}

.my-team-schematic-player-name-selected {
    color: #3D185B !important;
    background-color: #EBFF00 !important;
}

@media only screen and (max-width: 768px) {
    .my-team-schematic-div {
        width: calc(6vw + 40px);
        min-width: 0;
    }

    .substitute-icon {
        min-width: 13px;
        margin-left: -10px;
    }
}