#my-team-main-div {
    width: 90%;
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 30px;
    grid-template-columns: 3fr 1fr;

    margin: 50px auto 30px auto;
}

#game-info-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-column-start: 1;
    grid-row-start: 2;
}

#header-of-game-info-div {
    grid-auto-flow: row;
}