#my-team-main-div {
    width: 90%;
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 30px;
    grid-template-columns: 3fr 1fr;

    margin: 50px auto 30px auto;
}

#date-and-deadline-container {
    display: flex;
    justify-content: space-between;
}

#my-team-game-info-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(100%) auto;

    grid-column-start: 1;
    grid-row-start: 2;
}

#header-of-game-info-div {
    grid-auto-flow: row;
}

@media only screen and (max-width: 768px) {
    #my-team-main-div {
        grid-column-gap: 0;
        grid-template-columns: 1fr;
    }

    #date-and-deadline-container {
        flex-direction: column-reverse;
    }
}