.events-main-div {
    width: 90%;
    margin: 3.125rem auto 0 auto;
}

.events-items-div {
    display: grid;
    grid-column-gap: 10%;
    grid-template-columns: 1fr 1.8fr;
    margin: 50px auto 1.875rem auto;
}
/* 
@media only screen and (max-width: 51.875rem) {
    .events-main-div {
        width: 20%;
    }
} */

@media only screen and (max-width: 38rem) {
    .events-main-div {
        width: 90%;
        
    }
    .main-search-box{
        width: 90%;
        
    }
    ::placeholder{
        font-size: 2.3vw;
    }
    .button-text{
        font-size: 2.3vw;
    }
    .events-items-div{
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
}