.events-main-div {
    width: 90%;
    margin: 3.125rem auto 0 auto;
}

.events-items-div {
    display: grid;
    grid-column-gap: 10%;
    grid-template-columns: 1fr 1.8fr;
    margin: 50px auto 1.875rem auto;
    /* display: flex;
    flex-direction: row-reverse;
    column-gap: 20%; */
}