
.window {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3D185B;
    direction: rtl;
    display: flex;
    flex-direction: row-reverse;
}

#sidePicture {
    margin-left: 0;
    width: 35.875rem;
    direction: ltr;
    display: flex;
}

#PlayersPhoto {

    margin-left: 0;
}

#logo {
    position: absolute;
    width: 8.25rem;
    margin-top: 485px;
    margin-left: 8.81%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

#line {
    width: 10.875rem;
    border: 3px solid #9B3AF9;
}

#headerText {
    width: 10.9375rem;
    height: 3.75rem;
    font-weight: 400;
    font-size: 24px;
    line-height: 2.375rem;
    display: flex;
    justify-content: center;
    color: #ffff;
}

label {

    height: 24px;
    font-family: Vazirmatn, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #EDD8FF;
}

input {
    background: #3D185B;
    border: 1px solid #A057DB;
    border-radius: 8px;
    height: 3rem;
}

button {
    height: 48px;
    background: linear-gradient(90deg, #CF31B9 0%, #9B3AF9 73.44%);
    font-family: Vazirmatn, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    border: 2px solid;
    border-image: linear-gradient(270deg, #C847AF 1.65%, #9B3AF9 43.98%);
    border-radius: 8px;
}


    