
.window {
    width: 100%;
    height: 100vh;
    background: #3D185B;
    direction: rtl;
    display: flex;
    flex-direction: row-reverse;
}

.sidePicture {
    min-width: 12.5rem;

    width: 50%;
    direction: ltr;
    display: flex;
    background-image: url("./assets/cover.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.PlayersPhoto {
    width: 100%;
}

.logo {
    position: inherit;
    width: 40%;
    margin-top: 120%;
    margin-left: 20%;
}

.header {
    max-width: 25rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.line {
    max-width: 12.5rem;
    width: 40%;
    border: 0.1875rem solid #9B3AF9;
}

.headerText {
    width: 50%;
    height: 3.75rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.375rem;
    display: flex;
    justify-content: center;
    color: #ffff;
}

.label {
    height: 1.5rem;
    font-family: Vazirmatn, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5625rem;
    color: #EDD8FF;
}

.input {
    background: #3D185B;
    border: 1px solid #A057DB;
    border-radius: 8px;
    height: 3rem;
    font-family: Vazirmatn, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #FFFFFF;
}

.button {
    height: 3rem;
    width: 90%;
    background: linear-gradient(90deg, #CF31B9 0%, #9B3AF9 73.44%);
    font-family: Vazirmatn, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    border: 2px solid;
    border-image: linear-gradient(270deg, #C847AF 1.65%, #9B3AF9 43.98%);
    border-radius: 8px;
}


    