.remaining-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    display: flex;
    border-radius: 16px 16px 0 0;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0 20px;
}

#show-remaining-text {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3D195B;
}

#logo-and-text {
    display: flex;
    flex-direction: column;
}

.remaining-box-logo {
    height: 70px;
    margin-bottom: 5px;
}

#remaining-box-text {
    color: #3D195B;
}