#reserve-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.reserve-div {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
    margin-bottom: 30px;
}

.reserve-div:first-child {
    margin-top: 50px;
}