.playerBox {
position: absolute;
width: 273px;
height: 129px;
left: 100px;
top: 402px;

background: linear-gradient(93.79deg, #04F7DA -6.31%, #02FDA2 118.26%);
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
border-radius: 16px 16px 0px 0px;
display: flex;
align-items: center;
text-align: center;
justify-content: space-evenly ; 
}

#showPlayerText{

/* font-family: 'Vazirmatn'; */
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 62px;
display: flex;
align-items: center;
text-align: center;
color: #3D195B;
}
#logo-and-text{
    display: flex;
    flex-direction: column;
}
#playerText{
color: #3D195B;
}
.logo{
    height: 65px;
}