#nav-bar-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    position: relative;
    height: 80px;
}

#nav-bar-table {
    /*position: absolute;*/
    /*width: 770px;*/
    /*align-content: center;*/
    /*justify-content: center;*/
    align-items: center;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

#nav-bar-table li {
    font-size: 20px;
    float: right;
    list-style-type: none;
    margin-right: 10px;
    border-radius: 8px;
    padding: 10px 11px 12px;
}

#nav-bar-table li:first-child {
    margin-right: 0;
}

#nav-bar-selected {
    background: linear-gradient(262.49deg, #05F4F1 -27.69%, #00FF87 112.29%);
}

#nav-bar-table li a {
    /*display: block;*/
    text-decoration: none;
    margin: 0 10px;
    color: #3D195B;
    /*width: 120px;*/
    height: 38px; /*router */
    text-align: center;
}

#nav-bar-table li a:not(#a-selected) {
    font: 600 17px Vazirmatn, monospace;
}

#a-selected {
    font-weight: 900;
}