.Container {
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-around;
}


.signUpConfirm {
    width: 100%;
    margin-top: 7%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
}

.label {
    padding-top: 20px;
    position: absolute;
    text-align: center;

    left: 670px;
    top: 145px;
}