#Container {

    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-around;
}

.signUpConfirm {
    padding-top: 15%;
}

label {
    padding-top: 20px;
    position: absolute;
    text-align: center;

    left: 670px;
    top: 145px;
}