body {
    margin: 0;
    font-family: Vazirmatn, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#alert-button {
    margin-right: 20px;
    padding: 3px;
    scale: 1.3;
}

#alert-button:hover {
    background-color: #d2cdc3;
}

.icon-variant {
    margin-left: 5px;
}